

@font-face {
  font-family: 'Inconsolata';
  src: url('assets/fonts/inconsolata.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Union';
  src: url('assets/fonts/union-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Union';
  src: url('assets/fonts/union-bold.woff') format('woff');
  font-weight: normal;
  font-style: bold;
}